{% load i18n hcomments_tags %}
<li id="comment-{{ c.id }}" class="comment-level-{{ c.level }}{% if owner %} user-comment{% endif %} clear">
    <div class="gravatar"><img src="{{ c.userinfo.email|gravatar:"default=identicon,size=40" }}" alt="Gravatar" /></div>

    <div class="copy">{{ c.comment|linebreaksbr }}</div>
    <div class="metadata" {% if forloop.last %}id="last-comment"{% endif %}>
    {% with c.userinfo as info %}
    {% if info.url %}
        <strong><a href="{{ info.url }}" rel="nofollow">{{ info.name }}</a></strong>,
    {% else %}
        <strong>{{ info.name }}</strong>,
    {% endif %}
        <span class="date"><a title="{% trans "Permalink a questo commento" %}" href="#comment-{{ c.id}}">{{ c.submit_date|date:"d F Y" }}</a> {% trans "alle" %} {{ c.submit_date|date:"H:i" }}</span>
    {% endwith %}
    </div>
</li>
